{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Currency convertor</h1>
</div>
    <div class="row">
        <h3 class="">{{ currency_val }} {{ currency_title }} equals</h3>
        <h3>{{ converted_val }} {{ converted_title }}</h3>
        <div class="subtitle">{{ date }}</div>
    </div>
    <form action="/convert" class="form-horizontal">
        <div class="form-group row">
            <input type="text" name=currency_val"" class="form-control input-group-sm">
            <input type="text" name="converted_val" class="form-control input-group-sm">
            <select class="form-control">

                <option>CAD</option>
                <option>USD</option>
            </select>
        </div>
        <div class="form-group">
            <input type="button" class="btn btn-primary btn-sm" value="Convert">
        </div>
    </form>
{% endblock %}
